---
import Base from '../layouts/Base.astro';
---

<Base>
  <fragment slot="head">
    <meta http-equiv="refresh" content="0;url=/lock-screen" />
    <title>Redirecting...</title>
  </fragment>
</Base>
