---
import Base from '../layouts/Base.astro';
---

<Base>
  <fragment slot="head">
    <title>Carta</title>
    <script>
      (function() {
        if (sessionStorage.getItem('unlocked')) {
          document.documentElement.style.display = '';
        } else {
          window.location.replace('/lock-screen');
        }
      })();
    </script>
  </fragment>
  <fragment>
    <!-- Content will be added later -->
  </fragment>
</Base>
